.idea/
**/__pycache__
**.DS_Store
**@eaDir

# Home Assistant configuration
.cloud
.HA_VERSION
.storage
automations.yaml
blueprints
configuration.yaml
!/configuration.yaml
deps
home-assistant_v2*
home-assistant.log*
tts
scenes.yaml
scripts.yaml
secrets.yaml
